.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    background-color: #E4E8EE;
    overflow-y: auto;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    width: 6px;
}

.container::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

/* CSS Da Parte de header */
.header{
    width: 100%;
    min-height: 82px;
    display: flex;
    justify-content: space-between;
    padding: 14px 40px;
    opacity: 1;
    border-bottom: 1px solid #E4E8EE;
    background-color: #FFFFFF;

}
.titulo_header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 150px;
    height: 38px;
    opacity: 1;

}
.titulo_header strong{
    color: #1C1F24;
    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 20.16px;
    letter-spacing: 0px;

}
.titulo_header p{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 17.92px;
    letter-spacing: 0px;
}
.perfil_header{
    display: flex;
    width: 209px;
    height: 44px;
    gap: 16px;
    opacity: 1;
}
.icone_header{
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #E4E8EE;
    border-radius: 2px;
}
.conteudo_perfil{
    display: flex;
    width: 149px;
    height: 44px;
    min-height: 44px;
    gap: 10px;
    opacity: 1;
}
.conteudo_perfil p{
    padding: 7px;
    width: 40px;
    height: 36px;
    opacity: 1;
    border-radius: 18px;
    background-color: #DCE8FF;
    
}
.conteudo_perfil div{
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28px;
    max-width: 190px;
    opacity: 1;

}
.conteudo_perfil strong{
    color: #1C1F24;
    font-family: font-body;
    font-weight: 800;
    font-style: Regular;
    font-size: 14px;
    line-height: 15.29px;
    letter-spacing: 0px;

}
.conteudo_perfil small{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 12.74px;
    letter-spacing: 0px;

}


/* CSS Da Parte de main */
.section_main{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding-top: 38px;
    padding-right: 40px;
    padding-bottom: 70px;
    padding-left: 40px;
    opacity: 1;
}

/* CSS Da Parte de titulo main */
.container_titulo_main{
    width: 100%;
    height: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    opacity: 1;
}
.container_titulo_main div{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 415px;
    height: 108px;
    opacity: 1;
}
.container_titulo_main strong{
    color: #173F73;
    font-family: font-body;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 12px;
    line-height: 16.13px;
    letter-spacing: 1.41px;
    text-transform: uppercase;

}
.container_titulo_main h1{
    color: #1C1F24;
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 42px;
    line-height: 48.3px;
    letter-spacing: -1.47px;
}
.container_titulo_main p{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 0px;
}
.container_titulo_main button{
    width: 149px;
    height: 44px;
    min-height: 44px;
    padding: 10px 16px;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid #00000000;
    background-color: #173F73;

    color: #FFFFFF;
    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 19.26px;
    letter-spacing: 0px;


}

/* CSS Da Parte de Informações main */
.container_informacoes{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 180px;
    padding-top: 28px;
    opacity: 1;

}
.conteudo_informacoes{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    max-width: 1114px;
    width: 100%;
    min-height: 152px;
    border: 1px solid #E4E8EE;
    border-radius: 5px;
}
.card_informacoes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 278px;
    width: 100%;
    height: 151px;
    padding: 25px 28px;
    opacity: 1;
    border-right: 1px solid #E4E8EE;

}
.card_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 25px;
}
.card_informacoes P{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 16.13px;
    letter-spacing: 0px;

}
.card_informacoes h1{
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 37px;
    line-height: 37.1px;
    letter-spacing: -1.48px;

}

/* CSS Da Parte de agenda */
.section_agenda{
    display: flex;
    max-width: 1114px;
    width: 100%;
    min-height: 497px;
    padding-top: 28px;
    opacity: 1;

}
.container_principal_agenda{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 469px;
    opacity: 1;
}
.conteudo_agenda{
    max-width: 680px;
    width: 100%;
    height: 469px;
    padding-top: 24px;
    padding-right: 26px;
    padding-bottom: 8px;
    padding-left: 26px;
    opacity: 1;
    background-color: #FFFFFF;
    border: 1px solid #E4E8EE;
    border-radius: 5px;

}
.conteudo_agenda_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 630px;
    width: 100%;
    height: 47px;
    opacity: 1;
}
.conteudo_agenda_titulo div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.conteudo_agenda_titulo strong{
    color: #173F73;
    font-family: font-body;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

}
.conteudo_agenda_titulo h1{
    color: #1C1F24;
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 26.57px;
    letter-spacing: -0.81px;
}
.conteudo_agenda_titulo a{
    color: #173F73;
    text-decoration: none;
    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0px;

}

.calendario_agenda{
    display: flex;
    gap: 10px;
    max-width: 626px;
    width: 100%;
    height: 126px;
    padding-top: 24px;
    opacity: 1;
    border-bottom: 1px solid #E4E8EE;
}

.dia_calendario {
    max-width: 82px;
    width: 100%;
    height: 85px;
    padding-top: 9px;
    padding-right: 4px;
    padding-bottom: 7px;
    padding-left: 4px;
    gap: 4px;
    opacity: 1;
    background-color: #F8F9FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #00000000;
}
.nome_dia {
    font-family: font-body;
    font-weight: 500;
    font-style: Regular;
    font-size: 13px;
    line-height: 17.6px;
    letter-spacing: 0px;
    text-align: center;
}
.numero_dia {
    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 30.4px;
    letter-spacing: 0px;
    text-align: center;
}
.bolinha {
    width: 8px;
    height: 8px;
    background: #173f73;
    border-radius: 50%;
}
.dia_hoje {
    background: #1d477c;
}

.dia_hoje .nome_dia {
    color: white;
}

.dia_hoje .numero_dia {
    color: white;
}

.dia_hoje .bolinha {
    background: white;
}

.conteudo_sem_aulas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}
.icone_sem_aulas {
    color: #173F73;
    margin-bottom: 15px;
}
.conteudo_sem_aulas h1 {
    color: #1C1F24;
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 19.32px;
    letter-spacing: -0.59px;
    text-align: center;
    margin-bottom: 15px;

}
.conteudo_sem_aulas p {
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 20.8px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 10px;

}
.conteudo_sem_aulas a {
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 19px;
    line-height: 19.2px;
    letter-spacing: 0px;
    text-align: center;
    color: #173F73;
    text-decoration: none;

}
.conteudo_sem_aulas a span {
    font-size: 25px;
    font-weight: 400;
}


/* CSS Da Parte de Pontos de Atenção */
.pontos_de_atencao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 469px;
    opacity: 1;
    border: 1px solid #173F73;
    background-color: #EDF2F8;
    border-radius: 5px;
    padding: 25px;

}
.titulo_pontos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}
.titulo_pontos strong {
    color: #173F73;

    font-family: font-body;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.4px;


    text-transform: uppercase;
}
.titulo_pontos h1 {
    margin: 0;

    color: #1C1F24;

    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 23px;
    line-height: 26.57px;
    letter-spacing: -0.81px;

}
.icone_pontos {
    color: #173F73;
    flex-shrink: 0;
}
.lista_pontos {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 15px;
}
.item_ponto {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 95px;

    border-bottom: 1px solid #D7E0EA;
}
.numero_ponto {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 60px;
    width: 60px;
    height: 60px;

    border: 1px solid #B8CBE2;
    border-radius: 50%;

    background-color: #FFFFFF;

    color: #173F73;

    font-family: font-body;
    font-size: 28px;
    font-weight: 600;
}
.texto_ponto {
    display: flex;
    flex-direction: column;

    margin-left: 24px;

    flex: 1;
}
.texto_ponto strong {
    color: #1C1F24;

    font-family: font-body;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.texto_ponto p {
    margin: 8px 0 0;

    color: #626B76;

    font-family: font-body;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.seta_ponto {
    color: #1C1F24;

    font-size: 32px;
    font-weight: 300;

    margin-left: 10px;
}
.observacao_pontos {
    display: flex;
    align-items: flex-start;

    width: 100%;

    margin-top: 30px;
}
.icone_observacao {
    color: #173F73;

    min-width: 32px;
    margin-right: 20px;
}
.observacao_pontos p {
    margin: 0;

    color: #626B76;

    font-family: font-body;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

/* CSS Da Parte de Acompanhamento e comunidade */
.section_acompanhamento_comunidade{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 1112px;
    width: 100%;
    height: 411px;
    padding: 24px 0px;
    opacity: 1;

}
.container_acompanhamento{
    max-width: 589px;
    width: 100%;
    height: 363px;
    opacity: 1;
    padding: 25px;
    background-color: #FFFFFF;
    border: 1px solid #E4E8EE;
    border-radius: 5px;

}
.titulo_acompanhamento{
    display: flex;
    width: 100%;
    height: 47px;
    justify-content: space-between;
    opacity: 1;
}
.titulo_acompanhamento div{
    display: flex;
    flex-direction: column;
}
.titulo_acompanhamento strong{
    color: #173F73;
    font-family: font-body;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

}
.titulo_acompanhamento h1{
    color: #1C1F24;
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 23.1px;
    line-height: 26.57px;
    letter-spacing: -0.81px;

}
.titulo_acompanhamento a{
    color: #173F73;
    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 19.2px;
    letter-spacing: 0px;
    text-decoration: none;

}
.lista_turmas {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 15px 0px;
}
.turma {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 76px;

    border-bottom: 1px solid #E4E8EE;
}
.info_turma {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info_turma strong {
    color: #1C1F24;

    font-family: font-body;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 19.2px;
    letter-spacing: 0px;

}
.info_turma p {
    margin: 0;

    color: #626B76;

    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;

}
.progresso_turma {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 18px;

    width: 390px;
}
.barra_progresso {
    width: 180px;
    height: 6px;

    background-color: #E4E8EE;

    overflow: hidden;
}
.progresso {
    width: 100%;
    height: 100%;

    background-color: #173F73;
}
.progresso_turma strong {
    color: #1C1F24;

    font-family: font-body;
    font-size: 16px;
    font-weight: 700;
}
.p_Footer{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    line-height: 16.8px;
    letter-spacing: 0px;

}

.container_comunidade{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 363px;
    opacity: 1;
    padding: 25px;
    background-color: #FFFFFF;
    border: 1px solid #E4E8EE;
    border-radius: 5px;
}
.conteudo_comunidade{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    width: 100%;
    height: 152px;
    padding-top: 24px;
    opacity: 1;
    border-bottom: 1px solid #626B76;
}
.conteudo_comunidade p{
    color: #626B76;
    font-family: font-body;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 19.2px;
    letter-spacing: 0px;

}
.conteudo_comunidade h1{
    margin: 8px 0px;
    color: #1C1F24;
    font-family: font-display;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 19.32px;
    letter-spacing: -0.59px;

}