.mainContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

/* CSS Da Parte do banner */
.banner{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    min-height: 100vh;
    opacity: 1;
    padding: 42px 62px;
    background-color: #0B0D10;
}
.container_logo{
    display: flex;
    max-width: 628px;
    width: 100%;
    height: 44px;
    opacity: 1;
    gap: 12px;
}
.texto_logo{
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    width: 100%;
    height: auto;
    gap: 12px;
}
.texto_logo strong{
    color: #FFFFFF;
    font-family: var(--fonte-display);
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 18.68px;
    letter-spacing: 0px;

}
.texto_logo small{
    color: #9BA6B7;
    font-family: var(--fonte-corpo);
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.46px;
}
.imgLogo{
    width: 70px;
    height: 60px;
}
.conteudo_banner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 628px;
    height: 451px;
    opacity: 1;
    padding-top: 111px;
    padding-bottom: 20px;
    gap: 15px;
}
.conteudo_banner strong{
    color: #8AB0FC;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.41px;
    text-transform: uppercase;

}
.conteudo_banner h1{
    color: #FFFFFF;
    font-family: var(--fonte-display);
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 69.12px;
    letter-spacing: -2.52px;

}
.conteudo_banner h2{
    color: #5B8DEF;
    font-family: var(--fonte-display);
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 69.12px;
    letter-spacing: -2.52px;
}
.conteudo_banner p{
    color: #AEB9C9;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0px;

}
.container_imgbanner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 565px;
    width: 100%;
    height: 258px;
    opacity: 1;
    padding-top: 35px;
    padding-bottom: 35px;

}
.container_imgbanner img{
    width: 565px;
    height: 188px;
    opacity: 1;

}
.banner a{
    text-decoration: none;
    color: #AEB9C9;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0px;
}

/* CSS Da Parte de Login */
.section_login{
    display: flex;
    justify-content: center;
    width: 50%;
    min-height: 100vh;
    display: flex;
    padding: 42px 62px;
}
.container_login{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    width: 100%;
    min-height: 706px;
    max-width: 600px;
    opacity: 1;
    gap: 15px;

}
.container_login h1{
    color: #626B76;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.76px;
    text-transform: uppercase;

}
.container_login h2{
    color: #1C1F24;
    font-family: var(--fonte-display);
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 41.86px;
    letter-spacing: -1.27px;
}
.container_login p{
    margin: 13px 0px;
    color: #626B76;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 20.16px;
    letter-spacing: 0px;

}
.container_login form{
    width: 100%;
    min-height: 306px;
    opacity: 1;
    padding-top: 20px;
}
.container_login form div{
    width: 100%;
    height: 68px;
    opacity: 1;
    margin-bottom: 15px;
}
.container_login input{
    width: 100%;
    min-height: 44px;
    opacity: 1;
    border: #AFB9C7 1px solid;
}
.container_login label{
    color: #1C1F24;
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 11.2px;
    line-height: 17.92px;
    letter-spacing: 0px;
}
.container_login a{
    color: #173F73;
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 18.82px;
    letter-spacing: 0px;
    text-decoration: none;
}
.container_login button{
    margin-top: 15px;
    width: 430;
    min-height: 44px;
    opacity: 1;
    gap: 10px;
    padding: 10px 16px;
    background-color: #173F73;
    border: #00000000 1px solid;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}