.container{
    width: 100%;
    min-height: 100vh;
}

/* CSS da Parte do Banner */
.p_banner{
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 12.8px;
    line-height: 20.48px;
    letter-spacing: 0.26px;
}
.h1_banner{
    width: 620px;
    opacity: 1;
    color: #F4F7F9;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 70.6px;
    letter-spacing: 0.9px;
    text-transform: uppercase;

}
.p_banner2{
    width: 494px;
    height: 113px;
    opacity: 1;
    color: #F4F7F9C7;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16.6px;
    line-height: 28.16px;
    letter-spacing: 0px;

}
.banner{ 
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%; 
    min-height: 550px; 
    overflow: hidden; } 
.video{ 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 0; } 
.conteudo{ 
    position: relative; 
    z-index: 2; 
    margin-top: 80px;
    margin-left: 80px;
}

/* CSS Da Parte de Historia */
.section_historia{
    width: 100%;
    min-height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_historia{
    max-width: 1100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 8px;
}
.conteudo_historia{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}
.container_img{
    width: 500px;
    height: 554px;
    opacity: 1;
    top: 9.21px;
    left: 24px;
}
.imglogo{
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 480px;
}
.card_img_historia{
    position: relative;
    z-index: 1;
    top: 390px;
    right: 20px;
    background-color: #2FA8E8;
    width: 100%;
    height: 120px;
    max-width: 200px;
    opacity: 1;
    padding: 22px 26px;
    border-radius: 8px;
}
.card_img_historia strong{
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0px;
}
.card_img_historia p{
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0px;
}
.p_historia{
    color: #2FA8E8;
    width: 477px;
    height: 25px;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 20.48px;
    letter-spacing: 0.26px;

}
.h1_historia{
    width: 478;
    height: 115;
    opacity: 1;
    color: #FFFFFF;
    font-family: var(--fonte-display);
    font-weight: 600;
    font-style: Regular;
    font-size: 54.4px;
    line-height: 57.12px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.p2_historia{
    color: #F4F7F9C7;
    width: 478;
    height: 103;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;

}
.container_lista{
    width: 477px;
    height: 144px;
    opacity: 1;
    columns: 1;
    row-gap: 14px;
    column-gap: 14px;
}
.item_lista{
    color: #F4F7F9;
    width: 350px;
    height: 26px;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;
}
 
/* CSS Da Parte de Jornada */
.section_jornada{
    width: 100%;
    min-height: 430px;
    background-color: #12151C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_jornada{
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 12.8px;
    line-height: 20.48px;
    letter-spacing: 0.26px;
    margin-bottom: 5px;
}
.h1_jornada{
    max-width: 560px;
    width: 100%;
    height: 44px;
    opacity: 1;
    color: #FFFFFF;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.21px;
}
.container_jornada{
    width: 100%;
    min-height: 270px;
    max-width: 1180px;
    opacity: 1;
    padding: 24px;
}
.container_jornada_numero{
    display: flex;
    margin-top: 15px;
    max-width: 1125px;
    width: 100%;
    height: 159px;
    opacity: 1;
    border-radius: 5px;
    border-width: 0.8px;
    background: linear-gradient(#081B30,#1B2029);
}
.card_jornada{
    display: flex;
    flex-direction: column;
    max-width: 282px;
    width: 100%;
    height: 100%;
    opacity: 1;
    gap: 10px;
    padding: 34px 28px;
    top: 0.8px;
    left: 0.8px;
    border-right: 1px solid #F4F7F91A;
}
.card_jornada p{
    color: #F4F7F98C;
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 11.2px;
    line-height: 17.92px;
    letter-spacing: 0.34px;

}
.card_jornada h1{
    color: #FFFFFF;
    font-family: var(--fonte-display);
    font-weight: 400;
    font-style: Regular;
    font-size: 41.6px;
    line-height: 41.6px;
    letter-spacing: 0px;
}
.ponto{
    background-color:  #F4F7F9;
    width: 10px;
    height: 9px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 4px #F4F7F914;

}
.ponto_laranja{
    background-color:  #C99B4A;
    width: 10px;
    height: 9px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 4px #F4F7F914;
}
.ponto_azul{
    background-color:  #2FA8E8;
    width: 10px;
    height: 9px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 4px #F4F7F914;
}
.ponto_vermelho{
    background-color:  #B4392C;
    width: 10px;
    height: 9px;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 4px #F4F7F914;
}

/* CSS Da Parte de Aulas */
.section_aulas{
    width: 100%;
    min-height: 700px;
    opacity: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo_aulas{
    max-width: 1000px;
    width: 100%;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.p_aulas{
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.26px;

}
.h1_aulas{
    margin: 15px 0px;
    color: #FFFFFF;
    max-width: 640px;
    width: 100%;
    height: 115px;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.p2_aulas{
    max-width: 600px;
    width: 100%; 
    color: #F4F7F9C7;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;

}
.container_aulas_informacao{
    max-width: 1132px;
    min-height: 311px;
    opacity: 1;
    padding-top: 64px;
    display: flex;
    gap: 15px;
}
.card_aulas{
    display: flex;
    flex-direction: column;
    background-color: #1B2029;
    border: #F4F7F91F 1px solid;
    max-width: 553px;
    width: 100%;
    min-height: 247px;
    opacity: 1;
    border-radius: 5px;
    border-width: 0.8px;
    padding: 38px;
    gap: 15px;

}
.card_aulas h1{
    color: #FFFFFF;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.27px;
    text-transform: uppercase;

}
.container_card_p_azul{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}
.card_p_azul{
    border: 0.8px solid #F4F7F91F;
    padding: 6px 12px;
    color: #8FD3F4;
    width: 127px;
    height: 30px;
    border-radius: 15px;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 11.52px;
    line-height: 18.43px;
    letter-spacing: 0px;
}

/* CSS Da Parte de agendamento */
.section_agendamento{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12151C;
}
.container_principal_agendamento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    width: 100%;
    min-height: 572px;
    opacity: 1;
    padding-right: 24px;
    padding-left: 24px;
    background: linear-gradient(#0D2A47,#081B30);
    border-radius: 5px;
}
.container_conteudo_agendamento{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    max-width: 472px;
    width: 100%;
    min-height: 400px;
    opacity: 1;
}
.container_conteudo_agendamento h1{
    margin: 10px 0px;
    color: #FFFFFF;
    max-width: 470px;
    width: 100%;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 30px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.p_agendamento{
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.26px;
}
.p2_agendamento{
    color: #F4F7F9BF;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;

}
.container_conteudo_agendamento ul{
    max-width: 472px;
    width: 100%;
    min-height: 104px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 1;
    margin-top: 10px;
    padding-left: 15px;
}
.container_conteudo_agendamento li{
    color: #F4F7F9;
    width: 472px;
    height: 25px;
    opacity: 1;
    gap: 14px;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;

}
.container_conteudo_agendamento form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 440px;
    width: 100%;
}

.container_conteudo_agendamento form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.linha > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.62px;
    text-transform: uppercase;
    color: #8FD3F4;
}

input,
select,
textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #F4F7F90F;
    outline: none;
}

input,
select {
    height: 30px;
    padding: 15px;
}

textarea {
    height: 100px;
    padding: 15px;
    resize: none;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background: #2FA8E8;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* CSS Da Parte de Doação */
.section_doacao{
    background-color: black;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_doacao{
    max-width: 1100px;
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container_codigoDeBarra{
    max-width: 450px;
    width: 100%;
    min-height: 400px;
    background-color: #F4F7F9;
    padding: 20px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_codigoDeBarra strong{
    margin-bottom: 5px;
    color: #B4392C;
    width: 150px;
    height: 20px;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.75px;
    text-align: center;

}
.fundo_codigoDeBarra{
    background-color: #0A0C10;
    width: 190px;
    height: 190px;
    border-radius: 8px;
    opacity: 1;
    padding: 14px;

}
.barraImg{
    width: 162px;
    height: 162px;
    opacity: 1;

}
.container_butoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 60px;
    padding-top: 20px;
    gap: 10px;
    opacity: 1;
}
.container_butoes button{
    width: 80px;
    height: 35px;
    border-radius: 99px;
    border: 1px solid #0A0C1033;
    padding: 10px 18px;
    opacity: 1;
    background-color: #F4F7F9;
    font-size: 13px;
}
.container_butoes button:hover{
    background-color: #B4392C;
    color: #F4F7F9;
    border: 1px solid #B4392C;
}
.container_copiar_pix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 56px;
    padding: 12px 14px;
    margin-top: 12px;
    opacity: 1;
    border: 1px solid #0A0C104D;
    border-radius: 8px;
    background-color: #F4F7F9;
}
.container_copiar_pix p{
    width: 220px;
    height: 22px;
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    line-height: 21.76px;
    letter-spacing: 0px;
    text-align: center;

}
.container_copiar_pix button{
    color: #F4F7F9;
    font-size: 12px;
    font-weight: 500;
    width: 67px;
    height: 31px;
    border-radius: 4px;
    padding: 8px 12px;
    opacity: 1;
    background-color: #0A0C10;

}
.conteudo_doacao{
    color: #F4F7F9;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px 24px;
    max-width: 610px;
    width: 100%;
    height: 400px;
    opacity: 1;
}
.conteudo_doacao strong{
    max-width: 400px;
    width: 100%;
    height: 20px;
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.26px;
}
.conteudo_doacao h1{
    margin: 10px 0px;
    color: #FFFFFF;
    max-width: 470px;
    width: 100%;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 30px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.conteudo_doacao p{
    color: #F4F7F9BF;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;
    margin-bottom: 10px
}
.conteudo_doacao ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 610px;
    width: 100%;
    height: 112px;
    opacity: 1;
    margin-bottom: 10px;
}
.conteudo_doacao li{
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 610px;
    width: 100%;
    height: 25px;
    opacity: 1;
    gap: 12px;
}
.conteudo_doacao li strong{
    width: 26px;
    height: 26px;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0px;
}
.conteudo_doacao li p{
    width: 380px;
    height: 26px;
    padding-top: 5px;
    opacity: 1;
    font-family: var(--fonte-corpo);
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;
}
.conteudo_doacao button{
    color: #F4F7F9;
    background-color: #0A0C10;
    width: 240px;
    height: 49px;
    padding: 13px 26px;
    gap: 8px;
    opacity: 1;
    border: 1px solid #F4F7F959;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.27px;

}

/* CSS Da Parte de Apoiadores */
.section_apoiadores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 555px;
    padding-top: 120px;
    padding-bottom: 120px;
    opacity: 1;
    background-color: #12151C;
}
.conteudo_apoiadores{
    width: 100%;
    height: 163px;
    max-width: 1180px;
    padding: 0px 24px;
    opacity: 1;

}
.conteudo_apoiadores strong{
    max-width: 400px;
    width: 100%;
    height: 20px;
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.26px;
}
.conteudo_apoiadores h1{
    margin: 10px 0px;
    color: #FFFFFF;
    max-width: 470px;
    width: 100%;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 30px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.conteudo_apoiadores p{
    color: #F4F7F9BF;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;
    margin-bottom: 10px
}
.card_apoiadores{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.card_apoiadores div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;
    border: #F4F7F91F 1px solid;
    border-radius: 5px;
    opacity: 1;

}
.card_apoiadores p{
    color: #F4F7F96B ;
    font-family: var(--fonte-display);
    font-weight: 700;
    font-style: Regular;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.53px;

}

/* CSS Da Parte de Apoiadores */
.section_professores{
    width: 100%;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2029;
}
.conteudo_professores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    height: 87px;
    opacity: 1;

}
.conteudo_professores div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 605px;
    width: 100%;
    height: 87px;
    opacity: 1;

}
.conteudo_professores h1{
    color: #FFFFFF;
    max-width: 500px;
    width: 100%;
    opacity: 1;
    font-family: var(--fonte-display);
    font-weight: 800;
    font-style: Regular;
    font-size: 25px;
    letter-spacing: 0.54px;
}
.conteudo_professores p{
    color: #F4F7F9BF;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0px;
} 
.conteudo_professores button{
    width: 172px;
    height: 49px;
    background-color: #1B2029;
    border: #F4F7F959 1px solid;
    color:#F4F7F9 ;
    padding: 13px 26px;
    gap: 8px;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.27px;

}


/* CSS Da Parte do Footer */
.footer {
    width: 100%;
    background-color: #080a0d;
    padding: 72px 10.3% 0;
}

.footer_conteudo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    min-height: 285px;
}



.footer_sobre {
    max-width: 560px;
}

.footer_marca {
    display: flex;
    align-items: center;

    gap: 18px;
}

.footer_logo {
    width: 76px;
    height: 76px;

    object-fit: contain;
}

.footer_marca h2 {
    margin: 0;

    color: #f1f1f1;

    font-size: 24px;
    line-height: 1.65;

    font-weight: 900;
}

.footer_sobre > p {
    margin-top: 10px;
    max-width: 400px;
    color: #F4F7F9BF;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 25.6px;
    letter-spacing: 0px;
}



.footer_navegacao {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer_navegacao h3,
.footer_contato h3 {
    max-width: 400px;
    width: 100%;
    height: 20px;
    color: #2FA8E8;
    font-family: var(--fonte-corpo);
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.26px;
}

.footer_navegacao a {
    text-decoration: none;
    color: #F4F7F9B2;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23.04px;
    letter-spacing: 0px;
}

.footer_navegacao a:hover {
    color: #ffffff;
}



.footer_contato {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.footer_contato p {
    text-decoration: none;
    color: #F4F7F9B2;
    font-family: var(--fonte-corpo);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23.04px;
    letter-spacing: 0px;
}


.footer_linha {
    width: 100%;

    height: 1px;

    background-color: #25282c;
}


.footer_bottom {
    min-height: 108px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom p {
    margin: 0;

    color: #6d6d6d;

    font-size: 16px;
    line-height: 1.4;
}


@media (max-width: 900px) {

    .footer {
        padding: 60px 7% 0;
    }

    .footer_conteudo {
        grid-template-columns: 1fr 1fr;

        row-gap: 60px;
    }

    .footer_sobre {
        grid-column: 1 / -1;
    }
}


@media (max-width: 600px) {

    .footer {
        padding: 45px 25px 0;
    }

    .footer_conteudo {
        grid-template-columns: 1fr;

        gap: 45px;

        min-height: auto;
        padding-bottom: 50px;
    }

    .footer_sobre {
        grid-column: auto;
    }

    .footer_sobre > p {
        font-size: 17px;
    }

    .footer_navegacao a,
    .footer_contato p {
        font-size: 17px;
    }

    .footer_bottom {
        min-height: 130px;

        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        gap: 15px;
    }

    .footer_bottom p {
        font-size: 14px;
    }
}